:root {
  --yellow: #fbb03a;
  --yellow-medium: #fbba38;
  --yellow-light: #fcd72b;
  --violet: #a156fb;
  --violet-medium: #ca68fc;
  --violet-light: #e776fc;
  --black: #080705;
  --gray: #c4c1c0;
  --gray-dark: #28282a;
  --white: #f3f8ff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-lato);
}

body {
  width: calc(100vw - (100vw - 100%));
}

.rootlayout {
  width: calc(100vw - (100vw - 100%));
  position: relative;
}

/* GENERAL POSITIONING */
.section-wide {
  width: 100%;
}

.section-narrow {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto 0 auto;
}

/* DEFAUL STYLES CANCELLED */

li {
  list-style: none;
}

a:link,
a:visited,
a:hover,
a:active {
  color: black;
  text-decoration: none;
}

button {
  border: none;
  font-size: 16px;
  background: none;
}

// BUTTONS STYLES

.btn-violet,
.btn-yellow {
  border: 0;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 5px 15px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: Montserrat, sans-serif;
  margin: 5px auto 5px auto;
  padding: 10px 15px;
  width: min(90%, 300px);
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-yellow {
  background: linear-gradient(var(--yellow-medium), var(--yellow));
}

.btn-empty {
  background-color: transparent;
  color: var(--black);
  border: 1px solid gray;
  font-weight: 700;
  padding: 8px 20px;
  border-radius: 5px;
}

.btn-violet {
  background: linear-gradient(var(--violet-medium), var(--violet));
  display: block;
}

//  HIDE SCROLLBAR

.frame::-webkit-scrollbar {
  display: none;
}
.frame {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

// LOADING SPINNER

.spin {
  transform: rotate(20deg);
  animation: spin 2s linear infinite;
  display: block;
  margin: 3px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
